@import url("https://fonts.googleapis.com/css?family=Asul:700");

.aboutContainer {
  padding: 50px;
  text-align: center;
}
.aboutImage {
  border-radius: 50px;
  border: solid black;
  box-shadow: 2px 2px gray;
}

.aboutParagraph {
  font-family: "Asul", sans-serif;
  font-size: 20px;
  padding: 50px;
}

.skillsList {
  font-family: "Asul", sans-serif;
  font-size: 15px;
}

.skillsList li {
  padding: 5px;
}

@media only screen and (max-width: 368px) {
  .aboutContainer {
    padding: 30px;
    text-align: center;
  }
  .aboutImage {
    border-radius: 50px;
    border: solid black;
    box-shadow: 2px 2px gray;
  }
}
