@import url("https://fonts.googleapis.com/css?family=Lusitana");

.aboutContainer {
  padding: 50px;
  text-align: center;
}
.aboutImage {
  border-radius: 7px;
  border: solid black;
  box-shadow: 2px 2px gray;
}

.aboutParagraph {
  font-family: "Lusitana", serif;
  line-height: 24px;
  font-size: 20px;
  padding: 50px;
}

.skillsList {
  font-family: "Lusitana", serif;
  font-size: 15px;
}

.skillsImg {
  border: solid black;
  padding: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0em 0.2em 0em inset;
  -moz-box-shadow: 0em 0.2em 0em inset;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
}

.skillsList li {
  padding: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 512px) {
  .aboutContainer {
    padding: 30px;
    text-align: center;
  }
  .aboutImage {
    border: solid black;
    box-shadow: 2px 2px gray;
  }
}

@media only screen and (max-width: 512px) {
  .aboutContainer {
    padding: 10px;
    text-align: center;
  }
  .aboutImage {
    border: solid black;
    box-shadow: 2px 2px gray;
  }
}
