@import url("https://fonts.googleapis.com/css?family=Asul:700");

.aboutContainer {
  text-align: center;
  padding: 50px;
}
.aboutImage {
  border: solid black;
  border-radius: 50px;
  box-shadow: 2px 2px gray;
}

.aboutParagraph {
  padding: 50px;
  font-family: "Asul", sans-serif;
  font-size: 20px;
}

.skillsList {
  font-family: "Asul", sans-serif;
  font-size: 15px;
}
