@import url("https://fonts.googleapis.com/css?family=Asul:700");

.blogContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}

.blogDate {
  padding-top: 20px;
  font-family: "Asul", sans-serif;
  font-size: 18px;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.blogPost {
  padding-top: 10px;
  font-family: "Asul", sans-serif;
}

.blogText {
  max-width: 90%;
  margin-bottom: 30px;
  background-color: gray;
  box-shadow: 10px 5px 5px black;
  line-height: 18px;
  padding: 10px;
}

.blogText p {
  padding: 20px;
  background-color: white;
  font-family: "Asul", sans-serif;
  text-indent: 5%;
}

.codeSandBox {
  padding: 20px;

  iframe {
    width: 600px;
    height: 400px;
  }
}

@media only screen and (max-width: 368px) {
  .codeSandBox {
    padding: 20px;

    iframe {
      width: 300px;
      height: 200px;
    }
  }
}
