@import url("https://fonts.googleapis.com/css?family=Asul:700");

.blogContainer {
  text-align: center;
  padding: 50px;
}

.date {
  font-family: "Asul", sans-serif;
  text-decoration-line: underline;
  text-decoration-style: solid;
}

.codeSandBox {
  padding: 10px;
}
