@import url("https://fonts.googleapis.com/css?family=Asul:700");

.modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .modalMain {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background: white;
    height: auto;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}

.modalMain div {
  padding: 5px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.contactButton {
  font-family: "Asul", sans-serif;
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  margin: 20px;
  padding: 10px 40px;
}

.contactButton:hover {
  background-color: white;
  color: black;
}

.emailForm {
  margin: 10px;
  padding: 20px;
  font-family: "Asul", sans-serif;
}

.labels {
  padding: 10px;
  text-decoration: underline;
}
