.modal {
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .modal-main {
    background: white;
    height: auto;
    left: 50%;
    position: fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.contactButton {
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  margin: 20px;
  padding: 10px 40px;
}

.contactButton:hover {
  background-color: white;
  color: black;
}

.emailForm {
  margin: 10px;
}
