.linedDiv {
  animation: 1.3s ease-in 0s 1 slideInFromBottom;
  background-color: black;
  height: 72vh;
  margin: 0 auto;
  width: 4px;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(90%);
  }
  100% {
    transform: translateY(0);
  }
}
