@import url("https://fonts.googleapis.com/css?family=Asul:700");

.linkContainer {
  text-align: center;
  padding: 50px;
}

.linkSectionTitle {
  font-family: "Asul", sans-serif;
  font-size: 20px;
  text-decoration-line: underline;
}

.devLinks {
  transition: font-size 3s;
}

.devLinks:hover {
  cursor: pointer;
  font-size: 24px;
}
