@import url("https://fonts.googleapis.com/css?family=Asul:700");

.linkContainer {
  text-align: center;
  padding: 50px;
}

.linkSectionTitle {
  font-family: "Asul", sans-serif;
  font-size: 30px;
  text-decoration-line: underline;
}

.linkSectionTitleDev {
  padding: 40px 0 20px 0;
  font-family: "Asul", sans-serif;
  font-size: 30px;
  text-decoration-line: underline;
}

.devLinks {
  list-style-type: none;
  padding: 10px;
  transition: font-size 3s;
  text-decoration-line: none;
  color: black;
  font-size: 18px;
  padding-left: 10px;
}

.devLinks:hover {
  cursor: pointer;
  font-size: 24px;
}
