.linkBox {
  text-align: center;
  padding-top: 30px;
}

.linkBox span {
  font-size: 24px;
}
.linkImg {
  margin-bottom: 30px;
  height: 350px;
  width: 550px;
  border: solid black;
  background-color: white;
  padding: 20px;
  border-radius: 7px;
  -webkit-box-shadow: 0em 0.2em 0em inset;
  -moz-box-shadow: 0em 0.2em 0em inset;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
}

.linkBox a {
  text-decoration-line: none;
  color: black;
  font-size: 18px;
  padding-left: 10px;
}

.linkBox a:hover {
  cursor: pointer;
}

.containerImage {
  border-radius: 6px;
  margin-bottom: 100px;
  opacity: 0.9;
  -webkit-box-shadow: 0em 0.2em 0em inset;
  -moz-box-shadow: 0em 0.2em 0em inset;
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
}
@media only screen and (max-width: 755px) {
  .linkImg {
    height: 300px;
    width: 450px;
    border: solid black;
    padding: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 0em 0.2em 0em inset;
    -moz-box-shadow: 0em 0.2em 0em inset;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
  }
}

@media only screen and (max-width: 626px) {
  .linkImg {
    height: 250px;
    width: 350px;
    border: solid black;
    padding: 20px;
    border-radius: 7px;
    -webkit-box-shadow: 0em 0.2em 0em inset;
    -moz-box-shadow: 0em 0.2em 0em inset;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
  }
}

@media only screen and (max-width: 524px) {
  .linkImg {
    height: 150px;
    width: 200px;
    border: solid black;
    border-radius: 7px;
    -webkit-box-shadow: 0em 0.2em 0em inset;
    -moz-box-shadow: 0em 0.2em 0em inset;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.46);
  }
}
