@import url("https://fonts.googleapis.com/css?family=Asul:700");

.linkContainer {
  text-align: center;
  padding: 50px;
}

.linkSectionTitle {
  font-family: "Asul", sans-serif;
  text-decoration-line: underline;
  font-size: 20px;
}

.linkList {
  padding: 20px;
}
