.notFoundCard {
  margin: 0 auto;
  text-align: center;
}

.backButton {
  background-color: black;
  border: 1px solid black;
  color: white;
  cursor: pointer;
  padding: 10px 40px;
  text-decoration: none;
}

.backButton:hover {
  background-color: white;
  color: black;
}
