@import url("https://fonts.googleapis.com/css?family=Lusitana");

.routeButtons {
  animation: 1.8s ease 0s 1 slideInFromBottomButtons;
  text-align: center;
}

.routeButtons .link {
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  font-family: "Lusitana", serif;
  padding: 10px 40px;
}

.routeButtons .link:not(:last-child) {
  border-right: none;
}

.link.one {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.link.three {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.routeButtons .link:hover {
  background: white;
  color: black;
}

@keyframes slideInFromBottomButtons {
  0% {
    transform: translateY(900%);
  }
  100% {
    transform: translateY(0);
  }
}

@media only screen and (max-width: 670px) {
  .routeButtons .link {
    padding: 7px 30px;
  }
}

@media only screen and (max-width: 411px) {
  .routeButtons .link {
    padding: 3px 15px;
  }
}
