.routeButtons {
  animation: 1.6s ease-out 0s 1 slideInFromBottomButtons;
  text-align: center;
}

.routeButtons .link {
  background-color: black;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 10px 40px;
}

.routeButtons .link:not(:last-child) {
  border-right: none;
}

.routeButtons .link:hover {
  background-color: white;
  color: black;
}

@keyframes slideInFromBottomButtons {
  0% {
    transform: translateY(900%);
  }
  100% {
    transform: translateY(0);
  }
}
