.card-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 0 0 20px rgb(191, 184, 49);
    font-size: 1.4rem;
    h1 {
        &::after {
            content: "!";
            color: rgb(191, 184, 49);
        }
    }
    .card {
        border: 2px solid rgb(191, 184, 49);
        margin-top: 2rem;
        padding: 20px;
        border-radius: 1rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}